version: '3.1'
services:
  {ALGORITHM_FULL_NAME}:
    image: vsource/{ALGORITHM_NAME}:{ALGORITHM_VERSION}
    environment:
      LOGIN_USERNAME: {LOGIN_USERNAME}
      LOGIN_PASSWORD: {LOGIN_PASSWORD}
      ALGORITHM_NAME: {ALGORITHM_NAME}
      ALGORITHM_VERSION: {ALGORITHM_VERSION}