version: '3.1'
services:
  {ALGORITHM_FULL_NAME}:
    image: vsource/{ALGORITHM_NAME}:{ALGORITHM_VERSION}
    environment:
      LOGIN_USERNAME: {LOGIN_USERNAME}
      LOGIN_PASSWORD: {LOGIN_PASSWORD}
      STORAGE_HOST: http://120.26.143.61:13402
      ALGORITHM_NAME: {ALGORITHM_NAME}
      ALGORITHM_VERSION: {ALGORITHM_VERSION}
      ALGORITHM_PORT: {ALGORITHM_PORT}